* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend";
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    overflow: hidden;
}

nav {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    box-shadow: 0px 1px 32px black;
    position: fixed;
    background-color: white;
    z-index: 1;
}

nav .soz a {
    color: #70737C;
    text-decoration: none;
}

nav .soz {
    display: flex;
    gap: 16px;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
}

nav .soz .chzq {
    width: 1px;
    height: 25px;
    background-color: #D3D3D3;
}

nav .in {
    display: flex;
    gap: 16px;
    align-items: center;
}

nav .in .inp {
    width: 285px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
}

nav .in .inp img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

nav .in img:last-child {
    display: none;
}

nav .in .rasm {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

nav .in .rasm img {
    width: 24px;
    height: 24px;
}

nav .in .inp input {
    width: 285px;
    height: 48px;
    padding-left: 50px;
    outline: none;
    border: 2px solid #EFEFEF;
    border-radius: 24px;
    font-size: 14px;
    padding-right: 10px;
}

.page1 {
    width: 1110px;
    height: 455px;
    background-color: #EAF1EB;
    border-radius: 24px;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-left: 70px;
    margin-top: 104px;
    padding: 80px;
}

.page1 .one {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    color: #1F2533;
}

.page1 .two {
    font-size: 16px;
    font-weight: 300;
    color: #1F2533;
}

/*  */
.page1 .olov:first-child {
    display: none;
}

.page1 .olov .one:first-child {
    color: #E55C5C;
}

/*  */

.page1 .olov {
    display: flex;
    gap: 20px;
    align-items: center;
}

.page1 .olov .one {
    font-size: 42px;
    font-weight: 600;
    color: #1F2533;
}

.page1 .olov .two {
    font-size: 20px;
    font-weight: 600;
    color: #70737C;
}

.page1 .bt {
    display: flex;
    gap: 20px;
}

.page1 .bt button {
    width: 153px;
    height: 51px;
    border-radius: 8px;
    border: none;
}

.page1 .bt .one {
    background-color: #359740;
    color: white;
    font-size: 16px;
}

.page1 .bt .two {
    background-color: white;
    color: #359740;
}

.page2 {
    width: 1110px;
    height: 104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFDEC;
    padding: 30px;
}

.page2 .s {
    font-size: 24px;
    font-weight: 600;
    color: #1F2533;
}

.page2 p {
    font-size: 16px;
    font-weight: 500;
    color: #70737C;
}

.page3 {
    width: 1110px;
    height: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    /* background-color: blue; */
}

.page3 .one {
    width: 1110px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.page3 .one p {
    font-size: 36px;
    font-weight: 600;
    color: #1F2533;
}

.page3 .one button {
    width: 155px;
    height: 50px;
    background-color: white;
    color: #359740;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #EFEFEF;
}

.page3 .two {
    width: 1110px;
    height: 72px;
    display: flex;
    justify-content: space-between;
}

.page3 .two div {
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.page3 .two div p {
    font-size: 14px;
    font-weight: 400;
    color: #1F2533;
}

.page3 .th {
    width: 1110px;
    height: 1054px;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.page3 .th .card {
    width: 350px;
    height: 512px;
    border: 2px solid #EFEFEF;
    background-color: transparent;
    border-radius: 8px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page3 .th .bosh {
    display: flex;
    gap: 20px;
    line-height: 8px;
    margin-top: 39px;
}

.page3 .th p {
    font-size: 16px;
    font-weight: 500;
    color: #1F2533;
    line-height: 25px;
}

.page3 .th .ox {
    width: 294px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page3 .th .ox p {
    font-size: 28px;
    font-weight: 600;
    color: #1F2533;
}

.page3 .th .ox button {
    width: 48px;
    height: 48px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
}

.page3 .th .love {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #FFCF55;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-left: 270px;
}

.page3 .th .heart {
    width: 24px;
    height: 24px;
}

.page4 {
    width: 1110px;
    height: 714px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.page4 .bosh {
    width: 1110px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.page4 .bosh p {
    font-size: 36px;
    font-weight: 600;
    color: #1F2533;
}

.page4 .bosh button {
    width: 175px;
    height: 50px;
    border: 1px solid #EFEFEF;
    color: #359740;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border-radius: 8px;
}

.page4 .past {
    display: flex;
    gap: 30px;
}

.page4 .past .chap .b1 {
    width: 730px;
    height: 300px;
    border-radius: 12px;
    background-color: #EAF1EB;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.page4 .past .chap {
    width: 730px;
    height: 630px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page4 .past .chap .i {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.page4 .past .chap .i .i1 {
    width: 350px;
    height: 300px;
    background-color: #EFF2F8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow: hidden;
    position: relative;
}

.page4 .past .ong {
    width: 350px;
    height: 630px;
    background-color: #EFF2F8;
    border-radius: 12px;
    padding: 24px;
    position: relative;
    overflow: hidden;
}

.page4 .past .chap .b1 .soz {
    display: flex;
    flex-direction: column;
}

/* soat */
.soat {
    display: flex;
    gap: 10px;
    align-items: center;
}

/*  */
.soat p {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
}

/*  */
.page4 .past .chap .b1 .soz {
    padding-left: 30px;
}

.page4 .past .chap .b1 .soz .one {
    font-size: 24px;
    font-weight: 600;
    color: #1F2533;
    margin-top: 8px;
    line-height: 31px;
}

.page4 .past .chap .b1 .soz p {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    margin-top: 4px;
    line-height: 25px;
}

.read {
    width: 105px;
    height: 50px;
    background-color: white;
    border: 1px solid #EFEFEF;
    border-radius: 8px;
    margin-top: 14px;
    color: #359740;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.page4 .past .chap .i .i1 p {
    font-size: 24px;
    font-weight: 600;
    color: #1F2533;
}

.page4 .past .chap .i .i1 .q {
    margin-left: 124px;
    margin-top: 138px;
    position: absolute;
    width: 196px;
    height: 132px;
}

.page4 .past .ong .one {
    font-size: 24px;
    font-weight: 600;
    color: #1F2533;
    margin-top: 8px;
    line-height: 31px;
}

.page4 .past .ong p {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    margin-top: 4px;
    line-height: 25px;
}

.page4 .past .ong .q {
    position: absolute;
    margin-top: -25px;
    margin-left: 45px;
}

.page5 {
    width: 1680px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page5 p {
    font-size: 36px;
    font-weight: 600;
    color: #1F2533;
}

.page5 .cards {
    width: 1680px;
    height: 382px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 47px;
}

/* opacity for */
.page5 .cards .card {
    width: 540px;
    height: 347px;
    background-color: white;
    border: 1px solid #EFEFEF;
    border-radius: 12px;
    padding: 35px;
}

.page5 .cards .card .pro {
    display: flex;
    align-items: center;
    gap: 24px;
}

.page5 .cards .card .pro .soz {
    line-height: 25px;
}

.page5 .cards .card .pro .soz .one {
    font-size: 18px;
    font-weight: 500;
    color: #1F2533;
}

.page5 .cards .card .pro .soz p {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
}

.page5 .cards .card .s {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #1F2533;
}

/* card opacity yes */
.page5 .cards .cardo {
    width: 540px;
    height: 347px;
    background-color: white;
    border: 1px solid #EFEFEF;
    border-radius: 12px;
    padding: 35px;
    filter: opacity(0.5);
    margin-top: 35px;
}

.page5 .cards .cardo .pro {
    display: flex;
    align-items: center;
    gap: 24px;
    filter: opacity(0.5);
}

.page5 .cards .cardo .pro .soz {
    line-height: 25px;
    filter: opacity(0.5);
}

.page5 .cards .cardo .pro .soz .one {
    font-size: 18px;
    font-weight: 500;
    color: #1F2533;
    filter: opacity(0.5);
}

.page5 .cards .cardo .pro .soz p {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    filter: opacity(0.5);
}

.page5 .cards .cardo .s {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #1F2533;
    filter: opacity(0.5);
}

.page5 .yashil {
    display: flex;
    gap: 5px;
    margin-top: 37px;
}

.page5 .yashil div {
    width: 35px;
    height: 6px;
    border-radius: 3px;
}

.page5 .yashil .a {
    background-color: #359740;
}

.page5 .yashil .o {
    background-color: #359740;
    filter: opacity(0.2);
}

.page6 {
    width: 100%;
    height: 658px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 115px;
    margin-top: 111px;
    background-color: #FAFAFA;
    padding: 77px;
}

.page6 .soz {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.page6 .soz .one {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    width: 500px;
    height: 108px;
}

.page6 .soz p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 521px;
    height: 364px;
}

footer .one {
    width: 1107px;
    height: 27px;
    display: flex;
}

footer .one img {
    margin-left: 75px;
}

footer .one .b1 {
    display: flex;
    gap: 32px;
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    align-items: center;
}

footer .one .b1 .chzq {
    width: 1px;
    height: 25px;
    background-color: #359740;
}

footer .one .i2 {
    display: flex;
    gap: 32px;
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
    align-items: center;
    margin-left: 70px;
}

footer .one .i2 .chzq {
    width: 1px;
    height: 25px;
    background-color: #359740;
}

footer .uchzq {
    width: 1107px;
    height: 1px;
    background-color: #359740;
    margin-top: 33px;
}

footer .two {
    width: 1107px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
    margin-top: 19px;
}

footer .two div {
    display: flex;
    gap: 24px;
}

footer .two p {
    font-size: 14px;
    font-weight: 400;
    color: #70737C;
}

@media screen and (max-width: 361px) {
    nav {
        width: 100%;
        height: 72px;
        display: flex;
        gap: 15px;
    }

    nav .soz {
        display: none;
    }

    nav .in .inp {
        width: 120px;
    }

    nav .in .inp input {
        padding-left: 10px;
        width: 120px;

    }

    nav .in img:first-child {
        display: none;
    }

    nav .in img:nth-child(2) {
        display: none;
    }

    nav .in img:last-child {
        display: block;
    }

    .page1 {
        margin-top: 100px;
        padding: 14px;
        width: 330px;
        height: 660px;
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;
        align-items: center;
        justify-content: center;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 50px;
    }

    .page1 .soz {
        width: 320px;
    }

    .page1 img:last-child {
        width: 180px;
    }

    .page1 img {
        margin-right: 70px;

    }

    .page1 .soz .asdf .one {
        width: 300px;
        font-size: 28px;
        line-height: 36px;
        font-weight: 600;
    }



    .page1 .soz .asdf .two {
        width: 320px;
        font-size: 14px;
        font-weight: 300;
        line-height: 28px;
    }

    .page1 .bt .two {
        width: 122px;
        height: px;
    }

    .page1 .olov:first-child {
        display: flex;
        gap: 20px;
        /* display: block;  */
        align-items: center;
    }

    .page1 .olov:first-child .one {
        font-size: 32px;
        color: #E55C5C;
    }

    .page1 .olov:first-child .two {
        font-size: 22px;
    }

    .page1 .olov {
        display: none;
    }

    .page1 .soz .olov img {
        margin-right: 0;
    }

    .page1 .soz .bt {
        margin-top: 18px;
    }

    .page2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 330px;
        height: 180px;
    }

    .page2 p:first-child {
        font-size: 24px;
        font-weight: 600;
    }

    .page2 p:last-child {
        font-size: 16px;
        text-align: center;
        width: 280;
        line-height: 29px;
    }

    .page3 .one {
        margin-top: -600px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .page3 .one p {
        font-size: 22px;
        font-weight: 600;
    }

    .page3 .one button {
        font-size: 14px;
        width: 124px;
        height: 47px;

    }

    .page3 .two {
        width: 330px;
        height: 72px;
        gap: 12px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        justify-content: space-between;
    }

    .page3 .two div {
        flex-shrink: 0;
    }

    .page3 .two::-webkit-scrollbar {
        display: none;
    }

    .page3 .th {
        height: 550px;
        display: flex;
        justify-content: start;
        grid: none;
        width: 330px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .page3 .th .card {
        flex-shrink: 0;
    }

    .page3 .th::-webkit-scrollbar {
        display: none;
    }

    .page4 {
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -660px;
    }


    .page4 .bosh {
        width: 330px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page4 .bosh p {
        font-size: 22px;
        font-weight: 600;
    }

    .page4 .bosh button {
        font-size: 14px;
        width: 160px;
        height: 47px;
    }

    .page4 .past .chap .b1 {
        display: none;
    }

    .page4 .past .chap .i {
        display: flex;
        flex-direction: column;
    }

    .page4 .past .chap .i .i1 {
        width: 330px;
    }

    .page4 .past .ong {
        display: none;
    }

    .page5 {}

    .page5 .cards {
        display: flex;
        justify-content: start;
        width: 330px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .page5 .p5 {
        font-size: 22px;
        font-weight: 600;
        margin-right: 100px;
    }

    .page5 .cards::-webkit-scrollbar {
        display: none;
    }

    .page5 .cards .card {
        flex-shrink: 0;
    }

    .page5 .cards .cardo {
        flex-shrink: 0;
    }

    .page5 .cards .cardo {
        filter: opacity(1);
        margin-top: 0px;
    }

    .page5 .cards .cardo .pro {
        filter: opacity(1);
    }

    .page5 .cards .cardo .pro .soz {
        filter: opacity(1);
    }

    .page5 .cards .cardo .pro .soz .one {
        filter: opacity(1);
    }

    .page5 .cards .cardo .pro .soz p {
        filter: opacity(1);
    }

    .page5 .cards .cardo .s {
        filter: opacity(1);
    }

    .page6 {
        height: 960px;
        width: 100%px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .page6 .soz .one {
        line-height: 34px;
        text-align: left;
        width: 280px;
        font-size: 22px;
        font-weight: 600;
    }

    .page6 .soz p {
        line-height: 28px;
        text-align: center;
        width: 330px;
        font-size: 16px;
        font-weight: 300;
    }

    .page6 img {
        width: 284px;
        height: 284px;
    }

    footer {
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .one img {
        width: 125px;
        height: 27px;
        margin-right: 70px;
    }

    footer .uchzq {
        width: 330px;
    }

    footer .one {
        text-align: center;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 330px;
        gap: 20px;
    }

    footer .one .i2{
        margin-right: 70px;
    }

    footer .two {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 330px;
    }

}